---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
  {% include share.html %}
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Blog and About -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4228490019228264"
       data-ad-slot="6214565782"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
